<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <link rel='stylesheet' href='/stylesheets/registration.css' />
  </head>
  <body>

    <div class="form-container">
      <div class="form-title"><h3>Login</h3></div>
      <form action="/user/login-check" method="post">
        <label>Email:</label>
        <input type="email" name="email" required>
        <label>Password:</label>
        <input type="password" name="password" required>
        <input type="submit" value="Submit">
      </form>
      <div class="form-footer">
        <div class="form-footer-content">New user? <a href="/signup">Sign up</a></div>
        <div class="form-footer-content"><a href="/public-cookbook">Browse recipes as guest</a></div>
      </div>
    </div>
  </body>
</html>