<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/recipe.css' />
  </head>
  <body>
    <div class="navbar">
      <div class="mainNav">
          <p>Searchbar</p>
          <p>Settings</p>
      </div>
      <div class="secondaryNav">
          <p>New Group</p>
          <P>New Recipe</P>
          <p>List of recipes & groups (for desktop version)</p>
      </div>
    </div>
  <div class="recipe">
      <div class="optionsMenu">
        <p>Notes</p>
        <p>Edit</p>
        <p>Delete</p>
      </div>
      <h2>Recipe Name</h2>
      <div class="header">
        <p>Prep Time:</p>
        <p>Cook Time:</p>
        <p>Total Time:</p>
        <p>Servings:</p>
      </div>
      <div class="main">
        <div class="leftcolumn">
          <h3>Ingredients</h3>
          <p>Ingredient</p>
          <p>Ingredient</p>
          <p>Ingredient</p>
          <p>Ingredient</p>
          <p>Ingredient</p>
        </div>
        <div class="rightcolumn">
          <h3>Instructions:</h3>
          <p>1.) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>2.) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>3.) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>4.) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>5.) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <h4>Links</h4>
      <p>some link</p>
      <h4>Options</h4>
      <p>option</p>
      <h4>Contact Us</h4>
      <p>phone number</p>
    </div>
  </body>
</html>