<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <link rel='stylesheet' href='/stylesheets/cookbook.css' />
    <link rel='stylesheet' href='/stylesheets/colorChanger.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Personal Cookbook

    <br><br>
    <a href="/edit-recipe">New Recipe</a>
    <br><br>
    <a href="/settings">Settings</a>
    <br><br>

    <form action="/search-recipe" method="get">
      <label for="searchInput">Search:</label>
      <input type="text" name="search" placeholder="Search recipe ...">
      <input type="radio" name="mode" value="personal">Personal
      <input type="radio" name="mode" value="public">Public
      <button type="submit">Search</button>
    </form>

    <br><br><hr><br><br>

    <% if (!recipeData || recipeData.length < 1) { %>
      You have no recipe.
    <% } %>

    <% for (let data of recipeData) { %>
      <a href="/personal-recipe/<%= data.id %>"><%= data.recipe_title %></a>
      <br><br>
      Recipe image : <img src="<%= data.photo %>" width="120" height="120">
      <br><br>
    <% } %>

  </body>
</html>