<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <link rel='stylesheet' href='/stylesheets/settings.css' />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h3>Settings</h3>
      </div>
      <div class="content">
        <form action="/user/logout" method="POST">
          <button type="submit" class="logout-btn">Logout</button>
        </form>
        <div class="screen-mode">
          <a href="#" onclick="changeScreenMode()">Change Screen Mode</a>
        </div>
      </div>
      <div class="back-btn"><a href="/personal-cookbook">Back To Personal Cookbook</a></div>
    </div>
    <%- include('changeScreenMode') %>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>