<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <link rel='stylesheet' href='/stylesheets/settings.css' />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h3>Settings</h3>
      </div>
      <div class="content">
        <form action="/user/logout" method="POST">
          <button type="submit" class="logout-btn">Logout</button>
        </form>
      </div>
      <div class="back-btn"><a href="/personal-cookbook">Back To Personal Cookbook</a></div>
    </div>
  </body>
</html>