<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <link rel='stylesheet' href='/stylesheets/registration.css' />
  </head>
  <body>
    <div class="introduction">
      <h2>Welcome to Flavoury!</h2>
      <p>
        Flavoury is the newest up and coming recipe storage site where you 
        can create and share your own recipes or explore other user's culinary
        masterpieces!
      </p>
      <p>Get started by signing up now!</p>
    </div>
    <div class="form-container">
      <div class="form-title"><h3>Sign Up</h3></div>
      <form action="/user/save-user" method="post">
        <label>Full Name:</label>
        <input type="text" id="insertuser1" name="fullname" placeholder="Full Name" required>
        <br>
        <label>Email:</label>
        <input type="email" id="insertuser2" name="email" placeholder="Email" required>
        <br>
        <label>Password:</label>
        <input type="password" id="insertuser3" name="password" placeholder="Password" required>
        <br>
        <input type="submit" value="Sign Up">
      </form>
      <div class="form-footer">
        <div class="form-footer-content">
          Already Have an Account? <a href="/login">Login</a></div>
      </div>
    </div>
  </body>
</html>