<!DOCTYPE html>
<html>
  <head>
    <title>Flavoury</title>
    <link rel='stylesheet' href='/stylesheets/registration.css' />
  </head>
  <body>
    <div class="form-container">
      <div class="form-title"><h3>Sign Up</h3></div>
      <form action="/user/save-user" method="post">
        <label>Full Name:</label>
        <input type="text" id="insertuser1" name="fullname" required>
        <br>
        <label>Email:</label>
        <input type="email" id="insertuser2" name="email" required>
        <br>
        <label>Password:</label>
        <input type="password" id="insertuser3" name="password" required>
        <br>
        <input type="submit" value="Submit">
      </form>
      <div class="form-footer">
        <div class="form-footer-content"><a href="/login">Back to Login</a></div>
      </div>
    </div>
  </body>
</html>