/* light mode */

body {
    background-color: #ffffff;
    color: #070707
}

.card {
    background-color: #f5f3f4;
    color: #070707;
}

.notesContent {
    background-color: #f5f3f4;
    color: #070707;
}

/* dark mode */

.body-dark {
    background-color: #060709;
    color: #ffffff;
}

.card-dark {
    background-color: #101a23;
    color: #ffffff;
}

.notesContent-dark {
    background-color: #101a23;
    color: #ffffff;
}