.card {
    display: inline-block;
    width: 140px;
    height: 180px;
    text-align: center;
    vertical-align: middle;
    
    margin: 14px;
    padding: 10px;
    border-radius: 6%;
}

.card img {
    padding: 4%;
    border-radius: 8%;
}

.card a {
    color: black;
}