.card {
    display: inline-block;
    width: 140px;
    height: 180px;
    text-align: center;
    vertical-align: middle;
    
    margin: 14px;
    padding: 10px;
    border-radius: 6%;
}

.defaultImg {
    padding: 8px;

    border: solid;
    border-radius: 8%;
}

.customImg img {
    border: solid;
    border-radius: 8%;
}

.card a {
    color: black;
}


#newRecipeCard {
    background-color: #4274b9;
}

#newRecipeCard a {
    color: #b0dee4;
}