/* --------- main content colors --------- */

.optionsMenu {
    background-color: #4274b9;
    color: #b0dee4;
}

/* light mode */

body {
    background-color: #ffffff;
    color: #070707
}

.leftcolumn {
    background-color: #f5f3f4;
    color: #070707;
}
.rightcolumn {
    background-color: #f5f3f4;
    color: #070707;
}
.card {
    background-color: #f5f3f4;
    color: #070707;
}

/* dark mode */

.body-dark {
    background-color: #060709;
    color: #ffffff;
}

.leftcolumn-dark {
    background-color: #101a23;
    color: #ffffff;
}
.rightcolumn-dark {
    background-color: #101a23;
    color: #ffffff;
}
.card-dark {
    background-color: #101a23;
    color: #ffffff;
}

/* ------ options menu ------- */
.optionsMenu {
    float: right;
    min-width: 200px;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
}

.optionsMenu p {
    display:inline-block;
}

.buttons {
    width: 44px;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    text-align: center;
}

button {
    background-color: #4274b9;
    color: #b0dee4;
    border: none;
    cursor: pointer;
}

/* ------ overhead -----  */

.overhead {
    float: left;
    width: 64%;
    padding: 2%;
    height: auto;
}

.overhead p {
    display: inline-block;
    justify-content: space-evenly;
}

/* ----- main content layout ----- */

.leftcolumn {
    float: left;
    width: 34%;
    padding: 2%;
    border-radius: 6%;
}

.rightcolumn {
    float: right;
    width: 56%;
    padding: 2%;
    border-radius: 6%;
}

ul li {
    padding: 5px;
}

.container input:checked ~ .checkmark {
    text-decoration-line: line-through;
}

ol li {
    padding: 10px;
}

/* ---- notes popup ---- */
/* Credit: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */

/* The Modal (background) */
#notesModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content */
  .notesContent {
    position: relative;
    background-color: #f5f3f4;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #4274b9;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.3);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    float: left;
    border-radius: 6%;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 2px;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

/* ------- screen size responsiveness - mobile --------- */

@media screen and (max-width: 600px) {

    .overhead {
        float: none;
        width: 96%;
    }

    .optionsMenu {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .optionsMenu p {
        display: none;
    }

    .leftcolumn {
        float: none;
        width: 92%;
        padding: 2%;
        margin: 2%;
    }
    
    .rightcolumn {
        float: none;
        width: 92%;
        padding: 2%;
        margin: 2%;
    }


}







