body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container {
    margin: 0 auto;
    width: 92%;
    min-width: 320px;
    max-width: 500px;
    margin-top: 9vh;
    padding: 12px;
    background-color: #4274b9;
    border-radius: 5%;
  }

  .container h3 {
    text-align: center;
  }

  .content {
    margin-top: 35px;
    text-align: center;
  }

  .logout-btn {
    padding: 5px;
  }

  .screen-mode {
    margin-top: 50px;
  }

  .screen-mode a{
    color: black;
  }

  .back-btn {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
  }

  .back-btn a {
    color: black;
  }