/* ------- navbar -------- */

.navbar {
    background-color: #4274b9;
    color: #b0dee4;

    float: left;
    width: 16%;
    height: 150vh;
    padding:
    2%;
}

a {
    text-decoration: none;
    color: #b0dee4;
}

/* -------- main content --------- */

.main {
    float: left;
    width: 76%;
    padding-left: 2%;
}

h3 {
    border-bottom-style: solid;
    border-width: thin;
}

/* -------- footer --------- */

/* unsure about this at the moment

.footer {
    background-color: #4274b9;
    color: #b0dee4;
}

*/


/* ------- screen size responsiveness --------- */






