/* ----- overhead -------- */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------- navbar -------- */

.navbar {
    background-color: #4274b9;
    color: #b0dee4;

    float: left;
    width: 16%;
    height: 120vh;
    padding: 2%;

    border-radius: 2%;
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #b0dee4;
}

.navbar img {
    padding-right: 6px;
}

.navbar ul li {
    padding: 5px;
}

.navbar button {
    background-color: #4274b9;
    color: #b0dee4;
    border: none;
    cursor: pointer;
}

.navBottom {
    position: absolute;
    bottom: 0;
}

/* -------- main content --------- */

.main {
    float: left;
    width: 76%;
    padding-left: 2%;
}

h3 {
    border-bottom-style: solid;
    border-width: thin;
}

/* ------- screen size responsiveness - desktop ------- */

#desktopHidden {
    display: none;
}

#mobileHidden {
    display: contents;
}

/* ------- screen size responsiveness - mobile --------- */

@media screen and (max-width: 600px) {

    #desktopHidden {
        display: contents;
    }

    #mobileHidden {
        display: none;
    }

    .navbar {
        display: none;
        width: 100%;
        height: auto;
        float: bottom;  
    }

    .main {
        float: none;
        width: 100%;
        padding: 0%;
    }

}




